.container {
  margin: 20px;
  padding: 10px 20px;
}

p {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 2;
}

.wrapper {
  margin: 0 auto;
  display: block;
}

.text-color:hover {
  color: #f45442;
}

.mejs__controls {
	background: #42aaf4 !important;
}

.mejs__time-current {
  background: linear-gradient(to right, #f4ad42, #f45442);
}

@media (min-width: 768px) {

  .wrapper {
    width: 90%;
  }
  .container {
    display: block;
    margin: 0 auto;
    width: 90%;
  }
}

@media (min-width: 1028px) {

  .wrapper {
    width: 1028px;
  }
  .container {
    display: block;
    margin: 0 auto;
    width: 1028px;
  }
}
